<h1>New Question</h1>
<p>Find me in app/views/questions/new.html.erb</p>

<h4><%= @yolo %></h4>

<%= form_for [@quiz, @question] do |f| %>
	<%= f.label :text, "Your New Question" %>
	<%= f.text_area :text%>
		<% @characters.each do |character| %>
			<p>
				<%= f.fields_for :answers, @answer do |builder| %>	
			    <%= builder.label :text, "Answer for #{character.name} " %>
			    <%= builder.text_area :text %>
			  	<%= builder.hidden_field :character_id, value: character.id %>
			  	
				<% end %>
			</p>
		<% end %>		

	<%= f.submit%>
<% end %>