<% question_label = 'Your Tie-Breaker Question' if @tie_breaker %>	
<% question_label = 'Your New Question' if !@tie_breaker %>	
<% header_title = 'New Tie-Breaker Question' if @tie_breaker %>	
<% header_title = 'New Question' if !@tie_breaker %>	


<h1><%= header_title %></h1>

<%= form_for [@quiz, @question] do |f| %>	
	<%= f.label :text, question_label %>
	
	<%= f.text_area :text%>
		<% @characters.each do |character| %>
		<%= (f.hidden_field :tie_breaker, value: true) if @tie_breaker %>	
			<p>
				<%= render 'form_fields', f: f, character: character %>	  	
			</p>
		<% end %>		
	<%= f.submit%>
<% end %>