<h1>New Question</h1>
<p>Find me in app/views/questions/new.html.erb</p>

<%= form_for @question do |f| %>
	<%= f.label :text, "Your New Question" %>
	<%= f.text_area :text%>
		<% @characters.each do  %>
			<p>
				<%= f.fields_for :answers, @answer do |builder| %>	
			    <%= builder.label :text, "Answer" %>
			    <%= builder.text_area :text %>
			  	<%= builder.	collection_select(:character_id, Character.all, :id, :name, prompt: true) %> 
				<% end %>
			</p>
		<% end %>		

	<%= f.submit%>
<% end %>