<h1>Begin</h1>
<p>Fill out the most appropriate answer for each question</p>

<%= form_tag(quiz_takers_path(@quiz, method: 'post')) do  %>
<!-- <form action=<%= quiz_takers_path(@quiz) %> method="post"> -->
	<% @questions.each do |question| %>
		<p><%= question.text %></p>
	
		<% question.answers.each_with_index do |answer, index| %>
			
			<%= radio_button_tag("answer_#{index + 1}".to_sym, answer.id) %>	<%= answer.text %>
		<!--	<input type="radio" name=<%= "answer_#{index + 1}" %> value=<%= answer.id %>><%= answer.text %> -->
		<% end %>
	<% end %>
	<%= submit_tag 'Submit' %>
<% end %>
